body {
  margin: 0;
  padding: 0;

  background-color: #1a1a1a;
  font-family: Helvetica;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.para {
  display: flex;
  align-items: left;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 2rem;
  box-sizing: border-box;
  background-color: #1a1a1a;
  padding-right: 13vw;
}

.instructions {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  .para {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__note-tracks {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
  }

  &__note-track {
    width: 70px;
    height: 90vh;
    background-color: #28292a;
    border: 1px solid #ccc;
    margin: 0 4px;
    position: relative;
  }

  .note {
    width: 90%;
    height: 8%;
    position: absolute;
    bottom: 100%;
    left: 5%;
    background: #628cca;
    border-radius: 10px;
    animation: fall 2s linear;
    animation-play-state: running;
  }

  .note--paused {
    animation-play-state: paused;
  }

  &__zones {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  &__zone {
    width: 70px;
    height: 60px;
    background-color: #444;
    color: #fff;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    font-weight: bold;
    border: 1px solid #ccc;

    &-label {
      font-size: 1rem;
    }

    &--start {
      background-color: #1e90ff;
    }
    &--active {
      background-color: #666;
    }
  }
  @keyframes fall {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
}

.pause-icon {
  width: 50px;
  filter: invert(1);
  transform: translate(-280px, -240px);
}

@media (max-width: 768px) {
  .container {
    padding-right: 0;
  }
  .game__zone-label {
    display: none;
  }

  #start-label {
    display: inline;
  }
  .instructions {
    display: none;
  }
}
